<div class="container p-4">
    <div class="row">
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                  <p>
                   DETALLE 
                  </p>
                   <ul>
                        <li>Titulo : {{{event.title}}}</li>
                        <li>Lugar: {{{event.lugar}}}</li>
                        <li>Precio: {{{event.precio}}}</li>
                        <li>Fecha: {{{event.fecha}}}</li>
                        <li>Destacado: {{{event.destacado}}}</li>
                        <li>Creado: {{{event.created_at}}}</li>
                    </ul> 
                    <img src="{{{event.url}}}" width="120px" height="120px">
                    <a class="btn btn-secondary" href="/links/total">
                        salir
                    </a>
                </div>
            </div>
        </div>
       
    </div>
</div>